/* App.css */

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-container {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.dropdown {
  position: relative;
  display: block;
}

.dropbtn {
  margin-left: 310px;
  background-color: #4caf50;
  color: white;
  padding: 9px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  margin-left: 310px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 9px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.app-heading {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item span {
  flex: 1;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.list-item:last-child {
  border-bottom: none;
}

.icons {
  margin-left: auto;
}

.icons p {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
  margin-bottom: 5px;
}

.icon-delete {
  color: #ff6347;
  cursor: pointer;
}

/* TodoInput.css */

.input-container {
  display: flex;
  margin-bottom: 20px;
  margin-top: 38px;
}

.input-box-todo {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #0056b3;
}

.completed .task {
  text-decoration: line-through;
}

.pending-btn:disabled {
  margin-left: 5px;
  background-color: yellow;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.complete-btn {
  margin-left: 5px;
  background-color: #28a745;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.complete-btn:disabled {
  margin-left: 5px;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
