@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.color-green {
  color: green;
}

.navbar {
  background: #1d1d1d;
  color: #919191;
  height: 60px;
  padding-top: 8px;
}

.navbar-links > a {
  color: #919191;
}

.username > a {
  color: #919191;
}

.navbar-content {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.navbar-logo img {
  height: 40px;
  vertical-align: middle;
}

.navsearch {
  display: flex;
}

.searchbar {
  margin-right: 10px;
}

.searchbar input {
  padding: 4px 30px;
  height: 30px;
  width: 250px;
  font-size: 0.85em;
  font-weight: 700;
  border: 2px solid #333;
  border-radius: 20px;
  color: #919191;
  background: #1d1d1d;
}

.navbar-links {
  padding-top: 10px;
}

.navbar-links a {
  padding-right: 15px;
  text-decoration: none;
  font-size: 0.85em;
  font-weight: 700;
}

.username a {
  font-size: 0.85em;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.username {
  padding-top: 10px;
}

.navbar-links > a.color-green {
  color: green;
}

/*Home*/

.home {
  background-color: #1d1d1d;
}

.home > a {
  text-decoration: none;
}

.home-content {
  padding-top: 40px;
  width: 1170px;
  margin: auto;
  text-align: center;
}

.home-content > h1 {
  font-size: 2.7em;
  font-weight: 700;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
  margin-top: 0;
  color: white;
}

.home-content > p {
  width: 700px;
  margin: auto;
  font-size: 0.95em;
  color: whitesmoke;
  line-height: 21px;
  margin-bottom: 10px;
}

.home-content p > a {
  text-decoration: none;
  color: #428bca;
}

.update-links > a {
  text-decoration: none;
  color: #428bca;
}

/*popular*/
#popular-section {
  display: flex;
  justify-content: space-between;
}

.popular-downloads > h2 {
  margin-left: 450px;
  font-size: 1.15em;
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
  margin-bottom: 25px;
  color: white;
}

/* Grid layout */
.grid {
  background-color: #1d1d1d;
}

.grid-container {
  background: #1d1d1d;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1170px;
  margin: auto;
}

.movie-card {
  padding: 30px;
  overflow: hidden;
}

.movie-img {
  width: 100%;
  height: auto;
  border: 2px solid #fff;
  image-rendering: pixelated;
  box-sizing: border-box;
}

.movie-title {
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  margin-bottom: 5px;
}

.movie-year {
  font-size: 0.85em;
  color: #919191;
}

.movie-resolution {
  font-size: 0.85em;
  color: #fff;
  margin-top: 5px;
}

.movie-card:hover .movie-img {
  transform: scale(1.05);
}

/* CSS for the overlay */
.img-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-item {
  margin-bottom: 10px;
  color: #fff;
}

.view-button {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.view-button:hover {
  background-color: #fff; /* Set the background color on hover */
  color: #000; /* Set the text color on hover */
}

.movie-card:hover .overlay {
  opacity: 1;
}
